//
//  secret.xcconfig
//  rn_boilerplate
//
//  Created by Prikshit Rana on 04/06/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


GOOGLE_MAP_KEY=ABC
OTHER_KEY=OTHERABC
